.login {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	align-items: center;
}

.logo {
	width: 520rpx;
	height: 520rpx;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 160rpx;
}

.logo image {
	display: block;
	width: 100%;
	height: 100%;

}

.btn {
	margin: 0;
	padding: 0;
	min-width: 660rpx;
	height: 92rpx;
	border-radius: 46rpx;
	font-size: 36rpx;
	text-align: center;
	line-height: 92rpx;
	margin-top: 40rpx;
}

.enroll {
	color: #333;
	background-color: #f2f3f4;
}

.log-in {
	color: #fff;
	background-color: #51aa38;
}
