<view class="seek">
	<view class='nav' style='height:{{navH*2}}rpx;'>
		<view class="nav-con" style="margin-top:{{capsuleTop}}px;height:{{capsuleHeight}}px;line-height: {{capsuleHeight}}px;">
			<view class="go-back" bindtap="goBack">
				<image src="../../assets/image/zuojian.png"></image>
			</view>
			严选商城
		</view>
	</view>
	<view class="seek-input">
		<view class="input-box">
			<view class="seek-icon">
				<image src="http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/search2-2fb94833aa.png"></image>
			</view>
			<input value="{{inputVal}}" placeholder="{{seekData.defaultKeyword.keyword}}" bindconfirm="searchBtn" bindfocus="inputFocus"
			 bindinput="setInputVal" class="input-con" name="input"></input>
			<view class="empty-seek" bindtap="restore" wx:if="{{seekListShow}}">
				<image src="http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/clearIpt-f71b83e3c2.png"></image>
			</view>
		</view>
		<view class="seek-cancel">取消</view>
	</view>
	<scroll-view class='content' wx:if="{{!seekListShow}}" scroll-y style='height:calc(100vh - {{navH}}px)'>
		<view class="seek-history" wx:if="{{seekData.historyKeywordList.length>0}}">
			<view class="seek-title">
				<view class="seek-title-text">搜索历史</view>
				<view class="seek-title-icon" bindtap="removeHis">
					<image src="http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/del1-93f0a4add4.png"></image>
				</view>
			</view>
			<view class="seek-history-con seek-con">
				<view data-name="{{item}}" bindtap="itemSeek" wx:for="{{seekData.historyKeywordList}}" wx:key="index" class="seek-item">{{item}}</view>
			</view>
		</view>
		<view class="seek-hot">
			<view class="seek-title">
				<view class="seek-title-text">热门搜索</view>
			</view>
			<view class="seek-hot-con seek-con">
				<view data-name="{{item.keyword}}" bindtap="itemSeek" wx:for="{{seekData.hotKeywordList}}" wx:key="index" class="seek-item {{item.is_hot?'seek-item-red':''}}">{{item.keyword}}</view>
			</view>
		</view>
	</scroll-view>
	<view class='content' wx:if="{{seekListShow}}" style='height:calc(100vh - {{navH}}px)'>
		<scroll-view class="seek-from" scroll-y style="{{result?'background-color: #f4f4f4;':'background-color: #fffff;'}}"
		 wx:if="{{conList.data.length<=0}}">
			<view class="seek-from-item" wx:if="{{!result}}" data-name="{{item}}" bindtap="itemSeek" wx:for="{{fromSeekList}}"
			 wx:key="index">{{item}}</view>
			<view class="vacancy" wx:if="{{result}}" style="height:calc(100vh - 64px)">
				<image class="icon" src="http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/noSearchResult-7572a94f32.png"
				 role="img"></image>
				<text class="text">您寻找的商品还未上架</text>
			</view>
		</scroll-view>
		<view class="seek-list" wx:if="{{conList.data.length>0}}">
			<view class="filtrate">
				<view class="filtrate-item {{filtrateItemSele===0?'filtrate-item-sele':''}}" bindtap="sortRestore">综合</view>
				<view bindtap="priceSort" class="{{filtrateItemSele===1?'filtrate-item-sele':''}} {{conListObj.order}} filtrate-item filtrate-icon">价格</view>
				<view class="filtrate-item {{filtrateItemSele===2?'filtrate-item-sele':''}}" bindtap="classConShow">分类</view>
				<view class="filtrate-class" wx:if="{{classShow}}">
					<view bindtap="filtrateClassTab" data-index="{{index}}" wx:key="id" wx:for="{{conList.filterCategory}}" class="filtrate-class-item {{filtrateSele==index?'filtrate-class-sele':''}}">{{item.name}}</view>
				</view>
			</view>
			<scroll-view bindscrolltolower="loadMore" scroll-y class="seek-list-con">
				<view class="seekList">
					<view class="seek-item-con" wx:for="{{conList.data}}" wx:key="id">
						<view class="seek-item-icon">
							<image src="{{item.list_pic_url}}"></image>
						</view>
						<view class="seek-item-name">{{item.name}}</view>
						<view class="seek-item-price">{{item.retail_price}}</view>
					</view>
				</view>
			</scroll-view>
		</view>
	</view>
</view>
